/* Basic Setup */
* {
  margin: 0;
  padding: 0; }

/* Mixin Setup */
/* End Mixin Setup */
/* Font Theme Setup */
body, html {
  font-family: open-sans, sans-serif;
  background: #f1ede2; }
  body h1, body h2, body h3, html h1, html h2, html h3 {
    font-weight: 300; }
  body article, body p, html article, html p {
    font-weight: 300; }
  body .fullScreenBG, html .fullScreenBG {
    background: url(../../images/breatheBG.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    body .fullScreenBG #heroTitle, html .fullScreenBG #heroTitle {
      font-size: 60px; }
  body .lab2Theme, html .lab2Theme {
    background: url(../../images/lab2Theme.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  body .lab3Theme, html .lab3Theme {
    background: url(../../images/lab3Theme.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    body .lab3Theme h1, body .lab3Theme h2, body .lab3Theme h3, body .lab3Theme h4, body .lab3Theme a, html .lab3Theme h1, html .lab3Theme h2, html .lab3Theme h3, html .lab3Theme h4, html .lab3Theme a {
      color: #f1ede2; }
      body .lab3Theme h1 a, body .lab3Theme h2 a, body .lab3Theme h3 a, body .lab3Theme h4 a, body .lab3Theme a a, html .lab3Theme h1 a, html .lab3Theme h2 a, html .lab3Theme h3 a, html .lab3Theme h4 a, html .lab3Theme a a {
        color: #8eca16; }
    body .lab3Theme #navBar, html .lab3Theme #navBar {
      background: #f1ede2; }
      body .lab3Theme #navBar a, html .lab3Theme #navBar a {
        color: black; }
        body .lab3Theme #navBar a:hover, html .lab3Theme #navBar a:hover {
          color: #8eca16; }
  body .lab4Theme, html .lab4Theme {
    background: url(../../images/punkTheme.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    body .lab4Theme h1, body .lab4Theme h2, body .lab4Theme h3, body .lab4Theme h4, body .lab4Theme a, html .lab4Theme h1, html .lab4Theme h2, html .lab4Theme h3, html .lab4Theme h4, html .lab4Theme a {
      color: #f1ede2; }
      body .lab4Theme h1 a, body .lab4Theme h2 a, body .lab4Theme h3 a, body .lab4Theme h4 a, body .lab4Theme a a, html .lab4Theme h1 a, html .lab4Theme h2 a, html .lab4Theme h3 a, html .lab4Theme h4 a, html .lab4Theme a a {
        color: #8eca16; }
    body .lab4Theme #navBar, html .lab4Theme #navBar {
      background: #f1ede2; }
      body .lab4Theme #navBar a, html .lab4Theme #navBar a {
        color: black; }
        body .lab4Theme #navBar a:hover, html .lab4Theme #navBar a:hover {
          color: #8eca16; }

/* End Theme Setup */
/* Grid Setup (Thanks to Chris Coyier at http://css-tricks.com/dont-overthink-it-grids/) */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  margin: 0 0 0px 0; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

/* Optional Grid Padding */
.grid-pad {
  padding: 0px 0 0px 0px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 0px; }

/* End Optional Grid Padding */
[class*='col-'] {
  float: left;
  padding-right: 0px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0px; }

.col-1-8 {
  width: 12.5%; }

.col-1-4 {
  width: 25%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-2-3 {
  width: 66.66%; }

.innerCol {
  max-width: 300px;
  padding: 10px; }
  .innerCol img {
    padding-bottom: 20px; }
  .innerCol h1 {
    padding-top: 10px;
    padding-bottom: 10px; }

.minInnerColHeight {
  min-height: 461px; }

/* End Grid Setup */
/* End Basic Setup */
/* Parallax Scrolling Tools (Thanks to http://blog.keithclark.co.uk/pure-css-parallax-websites/ for the tips!) */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax-layer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.parallax-layer-base {
  transform: translateZ(0px) scale(1); }

.parallax-layer-back {
  transform: translateZ(-1px) scale(2); }

.parallax-layer-deep {
  transform: translateZ(-2px) scale(3); }

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d; }

/* End Parallax Scrolling Tools */
/* Basic Tools */
.centerText {
  text-align: center; }

.center {
  margin: 0 auto; }
  .center img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.fullscreen {
  height: auto;
  width: 100vw; }

.roundBorders {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.boxShadow {
  box-shadow: 2px 2px 5px #002b33;
  -webkit-box-shadow: 2px 2px 5px #002b33;
  -moz-box-shadow: 2px 2px 5px #002b33; }

.paddingLarge {
  padding-top: 100px;
  padding-bottom: 100px; }

.bottomPadding {
  padding-bottom: 50px; }

/* End Basic Tools */
/* Test Tools */
.test-background-color-blue {
  background: #00aa9a; }

.test-background-color-orange {
  background: #fd6824; }

.test-background-color-red {
  background: #bf0228; }

.test-background-color-white {
  background: #f1ede2; }

.test-text-color-blue {
  color: #00aa9a; }

.test-text-color-orange {
  color: #fd6824; }

.test-text-color-red {
  color: #bf0228; }

.test-text-color-white {
  color: #f1ede2; }

.testTitle {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%); }

/* Test Tools */
/* Video Setup */
#fullscreenVideo {
  width: 100vw;
  height: auto; }

/* End Video Setup */
/* NavBar Setup */
.navPadding {
  padding-top: 100px;
  padding-bottom: 50px; }

.navPaddingNoBottom {
  padding-top: 100px; }

.bottomPadding {
  padding-bottom: 50px; }

.topPadding {
  padding-top: 50px; }

#navBar {
  background: black;
  color: #f1ede2;
  height: 50px;
  width: 300px;
  position: fixed;
  text-align: center;
  font-size: 16px;
  left: 50%;
  margin-left: -150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }
  #navBar a {
    color: #f1ede2; }
    #navBar a:hover {
      color: #8eca16; }
  #navBar li {
    display: inline-block;
    padding: 10px; }

/* End NavBar Setup */
/* Code Formatting */
.code {
  background: #002b33;
  width: 625px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .code h1, .code a {
    font-family: courier;
    color: #8eca16;
    padding: 10px; }
    .code h1 .codeRed, .code a .codeRed {
      color: #d73117;
      display: inline; }
    .code h1 .codeBlue, .code a .codeBlue {
      color: #04c4d9;
      display: inline; }
    .code h1 .codeOrange, .code a .codeOrange {
      color: #ff530d;
      display: inline; }

.code2, #forceCode2 {
  background: #002b33;
  width: 800px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .code2 h1, #forceCode2 h1 {
    font-family: courier;
    color: #8eca16;
    padding: 10px;
    font-size: 22px; }
    .code2 h1 .codeRed, #forceCode2 h1 .codeRed {
      color: #d73117;
      display: inline; }
    .code2 h1 .codeBlue, #forceCode2 h1 .codeBlue {
      color: #04c4d9;
      display: inline; }
    .code2 h1 .codeOrange, #forceCode2 h1 .codeOrange {
      color: #ff530d;
      display: inline; }

.codeSmall, #forceCodeSmall {
  background: #002b33;
  width: 400px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .codeSmall h1, .codeSmall a, #forceCodeSmall h1, #forceCodeSmall a {
    font-family: courier;
    padding: 10px; }
    .codeSmall h1 a, .codeSmall a a, #forceCodeSmall h1 a, #forceCodeSmall a a {
      color: #8eca16; }
    .codeSmall h1 .codeRed, .codeSmall a .codeRed, #forceCodeSmall h1 .codeRed, #forceCodeSmall a .codeRed {
      color: #d73117;
      display: inline; }

.codeLarge {
  background: #002b33;
  width: 1000px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .codeLarge h1 {
    font-family: courier;
    color: #8eca16;
    padding: 10px; }
    .codeLarge h1 .codeRed {
      color: #d73117;
      display: inline; }

.tab {
  margin-left: 1em; }

.tab2 {
  margin-left: 2em; }

.tab3 {
  margin-left: 3em; }

/* Code Formatting */
/* Article Setup */
.article {
  width: 800px;
  margin: 0 auto; }
  .article article {
    padding-top: 10px; }

/* Article Setup */
/* Special Case */
.smallImg img {
  display: block;
  height: 150px;
  width: auto; }

.noLink {
  text-decoration: none;
  color: black; }

.ajaxDiv {
  width: 33%;
  margin: 0 auto; }
  .ajaxDiv li {
    padding-bottom: 10px; }

.ajaxLink {
  background: #fd6824; }
  .ajaxLink h1 {
    color: black; }
  .ajaxLink:hover {
    background: #bf0228; }
    .ajaxLink:hover h1 {
      color: #f1ede2; }

.sublimeFix {
  padding-bottom: 75px; }

/* End Special Case */
